@import "~@fortawesome/fontawesome-free/css/all.css";

main {
  top: 0;
  background: linear-gradient(to bottom, #ff0000, #0000ff);
  color: #fff;
}

* {
  user-select: none;
}

.container {
  background: linear-gradient(to bottom, #ff0000, #0000ff);
  color: #fff;
  padding: 20px;
}
