.projects {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 7px 4px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.projectList {
  list-style: none;
  padding: 0;
}

.projectList li {
  margin-bottom: 10px;
}

.projectList h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.projectList p {
  font-size: 14px;
  color: #666;
}
